<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem-vindos ao Sobre Música</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Aqui nós apresentaremos um pouco de cada instrumento musical, suas curiosidades,
                origens e entre outros.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://imgur.com/zsswLxM.jpg" title="Bateria Musical" class="card-img-top"
                    alt="Bateria Musical">
                <div class="card-body">
                    <p class="card-text">A bateria é um instrumento de percussão composto por um conjunto de tambores e
                        pratos, tocado geralmente com um par de baquetas.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://imgur.com/9A5SgTb.jpg" title="Violão" class="card-img-top" alt="Violão">
                <div class="card-body">
                    <p class="card-text">O violão é um instrumento de cordas que podem ser composto por 6 ou 12 cordas,
                        sendo elas de aço ou nylon, pode ser tocado com os dedos ou palhetas.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://imgur.com/Xf9nNbK.jpg" title="Saxofone" class="card-img-top" alt="Saxofone">
                <div class="card-body">
                    <p class="card-text">O saxofone, é um instrumento de sopro patenteado em 1846 na França. É um
                        instrumento transpositor, ou seja, a nota escrita não é a mesma nota que ouvimos.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://imgur.com/Xp11j2r.jpg" title="Contrabaixo" class="card-img-top" alt="Contrabaixo">
                <div class="card-body">
                    <p class="card-text">O contrabaixo ,semelhante a um violão, mas com maior comprimento, é um
                        instrumento de cordas e tipicamente de quatro a seis cordas ou percursos. </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://imgur.com/x3FkqIX.jpg" title="Gaita" class="card-img-top" alt="Gaita">
                <div class="card-body">
                    <p class="card-text">A gaita de sopro ou gaita de boca é um instrumento musical de sopro cujos sons
                        são produzidos
                        por um conjunto de palhetas livres.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://imgur.com/Y4TsRuk.jpg" title="Teclado" class="card-img-top" alt="Teclado">
                <div class="card-body">
                    <p class="card-text">O teclado é um instrumento musical composto por teclas adjacentes pretas e
                        brancas, que executam
                        melodias e notas, formando uma harmonia.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 d-flex justify-content-center mt-4 mb-4">
        <button class="btn btn-outline-dark" routerLink='/contato'>Entre em contato</button>
    </div>
</div>